.broker {
  &-photo {
    display: block;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin: 1.5rem auto 2rem auto;
  }

  &-info {
    text-align: center;
    margin: 0 0 2.5rem 0;

    &-name {
      margin: .5rem 0;
    }

    &-phone {
      margin-top: 0;
      font-weight: 500;
    }
  }
}