.orderby {
  @extend .text-right;
  margin-top: -2rem;

  @include responsive(md) {
    margin-top: -.6rem;
  }

  &-btn {
    position: relative;
    width: 100%;
    padding: 1.2rem 0;
    margin-top: -.1rem;
    display: block;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #eee;
    line-height: 1;
    font-size: 1.4rem;
    color: $brand-black;
    transition: border-color, color .3s, .3s;

    @include responsive(md) {
      border-color: #b9b9b9;
      color: #888;
      margin-left: 1rem;
      border-radius: 2rem;
      font-size: 1.1rem;
      background-color: transparent;
      padding: .5rem 1rem;
      display: inline-block;
      width: auto;
      margin-top: 0;
    }

    &:hover {
      @include responsive(md) {
        border-color: $brand-primary;
        color: $brand-primary;
      }
    }

    &-icon {
      position: absolute;
      left: 1.5rem;
      display: none;
      width: 1.4rem;
      height: 1.3rem;
      margin-right: .5rem;

      @include responsive(md) {
        width: .7rem;
        height: .7rem;
        position: relative;
        left: 0;
      }
    }

    &-reset {
      margin: 3rem auto;
      border: 0;
      background: #fff;
      color: $brand-black;
      font-size: 1.4rem;
      vertical-align: middle;
      width: 100%;
      padding: 1.2rem 0;
      border: 1px solid #eee;
      border-radius: 0;
      line-height: 1;

      @include responsive(md) {
        padding: 0;
        border: 0;
        background: transparent;
        float: none;
        margin: 0;
        font-size: 1.5rem;
        color: $brand-primary;
        width: auto;
      }

      &:before {
        content: 'сбросить';

        @include responsive(md) {
          content: '✕';
        }
      }
    }

    &.active {
      border-color: $brand-primary;
      background-color: $brand-primary;
      color: #fff;

      .orderby-btn-icon {
        display: inline-block;
        fill: #fff;
      }
    }
  }
}
