.pagination {
  display: inline-block;
  margin: 0;
  margin-top: 4rem;
  background-color: #fff;
  border-radius: 2.5rem;
  padding: 0 1rem;

  @include responsive(sm) {
    margin-top: 1rem;
  }

  &-btn {
    color: $brand-accent;
    border: none;
    background: transparent;
    font-size: 1.8rem;
    font-weight: 200;
    padding: .8rem;

    &:hover {
      color: darken($brand-accent, 10%);
    }

    &:focus {
      outline: none;
    }

    &.active {
      color: #111;

      &:hover {
        color: lighten(#111, 30%);
      }
    }

    svg {
      height: 1.4rem;
      width: 1.2rem;
      fill: $brand-accent;
    }

    &.disabled {
      svg {
        fill: $brand-black;
      }
    }
  }
}
