@import 'variables';

$btn-border-radius-base: 4px;

$btn-sm-padding: .75rem 1.5rem;
$btn-sm-font-size: 1.3rem;
$btn-sm-border-radius: $btn-border-radius-base;

$btn-md-padding: 1.1rem 2rem;
$btn-md-font-size: 1.5rem;
$btn-md-border-radius: $btn-border-radius-base;

$btn-lg-padding: 1.15rem 1.6rem;
$btn-lg-font-size: 1.5rem;
$btn-lg-border-radius: $btn-border-radius-base;

$btn-xlg-padding: 2.4rem 0;
$btn-xlg-font-size: 1.5rem;
$btn-xlg-border-radius: 0;

/* Buttons */
$btn-color-primary:  $brand-primary;
$btn-color-accent:   $brand-accent;
$btn-color-default:  $brand-default;

$btn-xlg-border-radius: 2px;

@mixin btn-variant($background-color, $background-color-hover, $background-color-focus, $border-color, $border-color-hover, $border-color-focus, $color, $color-hover) {
  &,
  &[disabled]:hover {
    color: $color;
    background-color: $background-color;
    border-color: $border-color;
  }

  &:hover {
    color: $color-hover;
    background-color: $background-color-hover;
    border-color: $border-color-hover;
    z-index: 3;
  }

  &:active,
  &:focus {
    color: $color-hover;
    background-color: $background-color-focus;
    border-color: $border-color-focus;
    box-shadow: none;
    outline: none;
    z-index: 3;
  }

  &.active {
    color: $color-hover;
    background-color: $background-color-hover;
    border-color: $border-color-hover;
    box-shadow: none;
    outline: none;
    z-index: 3;

    &:hover {
      color: $color-hover;
      background-color: $background-color-hover;
      border-color: $border-color-hover;
      box-shadow: none;
      outline: none;
      z-index: 3;
    }

    &:focus,
    &:active {
      color: $color-hover;
      background-color: $background-color-focus;
      border-color: $border-color-focus;
      box-shadow: none;
      outline: none;
      z-index: 3;
    }
  }
}

@mixin btn-size($padding, $fontSize, $borderRadius) {
  padding: $padding;
  font-size: $fontSize;
  border-radius: $borderRadius;
}

.btn {
  display: inline-block;
  margin-bottom: 0; /* For input.btn */
  font-weight: inherit;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; /* Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214 */
  background-color: transparent;
  border: 1px solid $brand-dark-grey;
  white-space: nowrap;
  transition: all 0.3s;
  padding: .6rem 1.2rem;

  &[disabled] {
    opacity: .5;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    text-decoration: none;
  }
}

.default {
  @include btn-variant($brand-white, $btn-color-default, $btn-color-default, $brand-grey, $brand-black, $brand-black, $brand-black, $brand-black);
}

.primary {
  @include btn-variant($brand-white, $btn-color-primary, $btn-color-primary, $brand-dark-grey, $btn-color-primary, $btn-color-primary, $brand-black, $brand-white);
}

.accent {
  @include btn-variant($brand-white, $btn-color-accent, $brand-dark-red, $brand-dark-grey, $btn-color-accent, $brand-dark-red, $brand-black, $brand-white);
}

.more {
  @include btn-variant($brand-primary, $brand-black, $brand-black, $brand-primary, $brand-black, $brand-black, $brand-white, $brand-white);
}

.sm {
  @include btn-size($btn-sm-padding, $btn-sm-font-size, $btn-sm-border-radius);
}

.md {
  @include btn-size($btn-md-padding, $btn-md-font-size, $btn-md-border-radius);
}

.lg {
  @include btn-size($btn-lg-padding, $btn-lg-font-size, $btn-lg-border-radius);
}

.xlg {
  @include btn-size($btn-xlg-padding, $btn-xlg-font-size, $btn-xlg-border-radius);
  border-radius: 0;
}

.block {
  display: block;
  width: 100%;
}
