/**/
/* rewrite, when modal will work fine */
/**/

.f-modal {
  background: #ffffff;
  color: #111111;

  @include responsive(sm) {
    background: rgba(0, 0, 0, .7);
  }

  &-content {
    width: 100%;

    @include responsive(sm) {
      width: 400px;
      border-radius: .8rem;
    }

    &-header {
      padding: 1.5rem;

      &-title {
        color: #314248;
        font-size: 2.2rem;
        text-align: center;
        margin: 2.5rem 0;
      }
    }

    &-body {
      padding: 0 3rem 3rem 3rem;

      &-container {
        padding: 1.8rem 2.5rem;
        border: 1px solid #eee;
      }

      &-text {
        margin-top: 1rem;
        margin-bottom: 0;
        font-size: 1.6rem;
        color: #314248;
      }
    }

    &-btn {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem;
    cursor: pointer;

    @include responsive(sm) {
      top: -5rem;
      right: -5rem;
    }

    svg {
      height: 2.5rem;
      width: 2.5rem;
      border: 2px solid #777;
      border-radius: 50%;
      padding: 4px;
      fill: #777;

      @include responsive(sm) {
        fill: #ffffff;
        border-color: #ffffff;
      }
    }
  }
}

.modal {
  &-preview {
    margin: 1.5rem -3rem -3rem;
    padding: 2rem 3rem;
    background: #eee;

    &-message {
      font-size: 1.5rem;
      margin-bottom: 0;
    }
  }
}
