$btn-color-primary:  #2177c6;
$btn-color-accent:   #711717;
$btn-color-default:  #111111;
$btn-color-success:  #5cb85c;
$btn-color-info:     #5bc0de;
$btn-color-warning:  #f0ad4e;
$btn-color-danger:   #d9534f;

$btn-border-radius-base: 2px;

$btn-xs-padding: .1rem .5rem;
$btn-xs-font-size: 1.2rem;
$btn-xs-border-radius: $btn-border-radius-base;

$btn-sm-padding: .5rem 1rem;
$btn-sm-font-size: 1.2rem;
$btn-sm-border-radius: $btn-border-radius-base;

$btn-lg-padding: 1rem 1.6rem;
$btn-lg-font-size: 1.4rem;
$btn-lg-border-radius: $btn-border-radius-base;

$btn-xlg-padding: 1.6rem;
$btn-xlg-font-size: 1.4rem;
$btn-xlg-border-radius: 4px;

@import "../mixins/responsive";
@import "../mixins/button";
@import "../variables";

a.btn {
  &:hover {
    text-decoration: none;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: inherit;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  background-color: transparent;
  border: 1px solid transparent;
  white-space: nowrap;
  transition: all 0.3s;
  padding: .6rem 1.2rem;

  &[disabled] {
    opacity: .5;
  }

  &-group {
    .btn {
      border-radius: 0;
      margin-right: -1px;

      &:nth-child(n+2) {
        @include responsive(sm) {
          border-left: none; // fix bootstrap double border
        }
      }

      &:first-child {
        border-top-left-radius: $btn-border-radius-base;
        border-bottom-left-radius: $btn-border-radius-base;
        // border-left: 1px solid; // fix bootstrap double border
      }

      &:last-child {
        border-top-right-radius: $btn-border-radius-base;
        border-bottom-right-radius: $btn-border-radius-base;
      }
    }
  }

  // Colors
  &-default {
    @include btn-variant($btn-color-default);
  }

  &-primary {
    @include btn-variant($btn-color-primary);
  }

  &-accent {
    @include btn-variant($btn-color-accent);
  }

  &-success {
    @include btn-variant($btn-color-success);
  }

  &-info {
    @include btn-variant($btn-color-info);
  }

  &-warning {
    @include btn-variant($btn-color-warning);
  }

  &-danger {
    @include btn-variant($btn-color-danger);
  }

  // sizes
  &-xs {
    @include btn-size($btn-xs-padding, $btn-xs-font-size, $btn-xs-border-radius);
  }

  &-sm {
    @include btn-size($btn-sm-padding, $btn-sm-font-size, $btn-sm-border-radius);
  }

  &-lg {
    @include btn-size($btn-lg-padding, $btn-lg-font-size, $btn-lg-border-radius);
  }

  &-xlg {
    @include btn-size($btn-xlg-padding, $btn-xlg-font-size, $btn-xlg-border-radius);
  }

  &-block {
    display: block;
    width: 100%;
  }
}
