@import '../mixins/responsive';
@import '../variables';

.f-modal {
  background: $brand-white;
  color: $brand-black;

  @include responsive(sm) {
    background: rgba(0, 0, 0, .7);
  }

  &-content {
    top: 0 !important; // fix default value
    width: 100%;

    @include responsive(sm) {
      top: 10rem !important; // fix default value
      width: 400px;
      border-radius: .2rem;
    }

    &-text {
      margin-bottom: 1.5em;
      font-size: 1.6rem;

      &-error {
        color: $brand-danger;
      }
    }

    &-brand {
      width: 60%;
    }

    &-link {
      cursor: pointer;
      margin-top: 1.5rem;
      display: inline-block;
    }

    &-header {
      padding: 1.5rem;
      border-bottom: 1px solid #eee;

      &-title {
        text-align: left;
        margin: 0;

        @include responsive(sm) {
          text-align: center;
        }
      }
    }

    &-body {
      padding: 1.5rem;

      @include responsive(sm) {
        padding: 1.5rem 3rem 3rem 3rem;
      }
    }
  }
  &-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem;
    cursor: pointer;

    @include responsive(sm) {
      top: -5rem;
      right: -5rem;
    }

    svg {
      height: 2.5rem;
      width: 2.5rem;
      border: 2px solid #777;
      border-radius: 50%;
      padding: 4px;
      fill: #777;

      @include responsive(sm) {
        fill: $brand-white;
        border-color: $brand-white;
      }
    }
  }
}

.modal {
  &-preview {
    margin: 1.5rem -3rem -3rem;
    padding: 2rem 3rem;
    background: #eee;

    &-message {
      font-size: 1.5rem;
      margin-bottom: 0;
    }
  }
}
