@import '../variables';
@import '../mixins/responsive';

$navbar-margin-bottom:    2rem;
$navbar-border-bottom:    0;
$navbar-nav-link-padding: 2.3rem 1.8rem;
$navbar-text-padding:     2rem;
$navbar-text-margin:      0;
$navbar-btn-margin:       0 2rem;

.navbar {
  border-bottom: $navbar-border-bottom;

  &-utils {
    padding: 2.6rem;

    &-link {
      padding: 0.4rem 1rem;
      color: $brand-black;
      font-size: 1.3rem;
      line-height: 1rem;
      background-color: $brand-white;
      border-radius: 1.2rem;
      transition: all 0.3s;

      &:hover,
      &:focus {
        color: $brand-white;
        text-decoration: none;
        background-color: $brand-primary;

      }
    }
  }

  &-left {
    float: left;
  }

  &-right {
    float: right;
  }

  &-nav {
    &-brand {
      position: relative;
      z-index: 10;
      display: inline-block;
      margin-left: 0;
      margin-right: 2rem;
      padding: 2rem 1rem 2rem 0;
      vertical-align: top;

      &-xs {
        margin-top: 1.5rem;
        display: block;

        &-image {
          width: 15rem;
        }
      }

      &-image {
        width: 16rem;
      }
    }

    &-link {
      position: relative;
      display: inline-block;
      padding: $navbar-nav-link-padding;
      color: $brand-black;
      line-height: 2rem;
      text-transform: uppercase;
      border-bottom: 1px solid #eaeaea;

      @include responsive(sm) {
        border: none;
      }

      &:hover,
      &.active {
        color: $brand-black;
        background-color: #eaeaea;
        text-decoration: none;
      }

      &.active {
        font-weight: 700;
      }

      &-phone {
        display: inline-block;
        padding: 2.3rem 0;
        color: $brand-black;
        font-size: 2rem;
        line-height: 1;

        &:hover,
        &:active,
        &:focus,
        &:visited {
          color: $brand-black;
          text-decoration: none;
        }
      }
    }

    &-btn-xs {
      position: absolute;
      top: 1rem;
      right: 0.5rem;

      &:focus {
        outline: none;

        .navbar-nav-btn-xs-icon {
          fill: $brand-primary;
        }
      }

      &-icon {
        fill: $brand-black;
        width: 2rem;
        height: 2rem;
      }
    }

    &-btn-more {
      position: relative;
      border: 0;
      padding: 2.3rem 1.8rem;
      color: $brand-black;
      line-height: 1;
      text-transform: uppercase;
      background-color: transparent;

      &-icon {
        padding-left: 0.2rem;
        padding-top: 0.2rem;
        width: 1rem;
        height: 1rem;
      }

      &:hover,
      &:active,
      &:focus,
      &:active:focus,
      &:hover:active {
        box-shadow: none;
        outline: none;
      }
    }
  }
}
