$btn-brand-radius:    2px;

a.btn {
  &:hover {
    text-decoration: none;
  }
}

.btn {
  cursor: pointer;

  &-brand {
    font-weight: 200;
    border-radius: $btn-brand-radius;
    padding-top: 1.6rem;
    padding-bottom: 1.4rem;
    line-height: 1;
    transition: all 0.3s;
    text-transform: uppercase;
  }

  &-group {
    .btn {
      border-radius: 0;
      margin-right: -1px;

      &:first-child {
        border-top-left-radius: $border-radius-base;
        border-bottom-left-radius: $border-radius-base;
        // border-right: 0;
      }

      &:last-child {
        border-top-right-radius: $border-radius-base;
        border-bottom-right-radius: $border-radius-base;
        // border-left: 0;
      }
    }
  }

  // Colors
  &-default {
    @include btn-mixin($brand-black);
  }

  &-primary {
    @include btn-mixin($brand-primary);
  }

  &-success {
    @include btn-mixin($brand-success);
  }

  &-info {
    @include btn-mixin($brand-info);
  }

  &-warning {
    @include btn-mixin($brand-warning);
  }

  &-danger {
    @include btn-mixin($brand-danger);
  }

  &-accent {
    @include btn-mixin($brand-accent);
  }
}
