.nav-tabs {
  &-item {
    display: inline-block;
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid transparent;
    color: #111;

    &:hover {
      text-decoration: none;
      border-bottom-color: #eee;
      color: $brand-primary;
    }

    &:active,
    &:focus {
      text-decoration: none;
    }

    &.active {
      border-color: $brand-primary;
      color: $brand-primary;
    }
  }

  &.nav-justified {
    width: 100%;

    .nav-tabs-item {
      position: relative;
      display: table-cell;
      width: 1%;
    }
  }
}
