.navbar {
  background-color: rgba(255,255,255,0.97);
  height: 5.7rem;
  box-shadow: 0px 0px 3px #44484b;

  &-divider {
    height: 5.6rem;
    width: 1px;
    margin: 0 1rem;
    border-right: 1px solid #eee;
    display: none;
    float: left;
  }

  &-brand {
    padding: 2rem 0;
    @include responsive(sm) {
      margin-right: 2rem;
      padding: 2rem 1rem 2rem 0;
    }

    &-image {
      width: 16rem;
    }
  }

  &-nav {
    &-link {
      text-transform: uppercase;
      color: #111;

      &:hover,
      &.active {
        background-color: #d9e6ee;
        text-decoration: none;
      }

      &.active {
        color: #111;
      }
    }

    &-mobile {
      z-index: 10;
      position: fixed;
      top: 0;
      width: 100%;
      overflow-x: scroll;
      box-shadow: 0px 0px 3px #44484b;

      @include responsive(sm) {
        overflow-x: hidden;
      }

      &-brand {
        position: relative;
        z-index: 11;
        height: 5.8rem;
      }

      &-menu {
        z-index: 9;
        position: relative;
        margin-top: 0;
        width: 100%;
        min-width: 40rem;
        transition: height, margin-top 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99), border-top .4s;
        height: 0;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(255,255,255,0.97);

        .navbar-nav-link {
          padding: 2rem 1rem;
          width: 10rem;
          text-align: center;
          opacity: 0;
          transition: all .4s;

          &:hover {
            background-color: transparent;

            @include responsive(sm) {
              background-color: #D9E6EE;
            }
          }

          @include responsive(sm) {
            width: auto;
            padding: 2rem 1.2rem;
          }

          @include responsive(md) {
            padding: 2rem;
          }
        }

        @include responsive(sm) {
          margin-top: 0;
          height: 5.7rem;
          width: 75rem;
          padding-left: 15px;
          padding-right: 15px;

          .navbar-nav-link {
            opacity: 1;
          }
        }

        @include responsive(md) {
          width: 97rem;
        }

        @include responsive(lg) {
          width: 117rem;
        }

        &.active {
          border-top: 1px solid #eee;
          height: 5.8rem;
          margin-top: 5.7rem;

          .navbar-divider {
            display: inline-block;
          }

          @include responsive(sm) {
            margin-top: 0;
          }

          .navbar-nav-link {
            opacity: 1;
          }
        }
      }

      &-sandwich {
        z-index: 12;
        position: absolute;
        right: 0;
        top: 0;
        padding: 2rem 1.5rem 2rem 3rem;
        cursor: pointer;

        svg {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
  }

  &-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    top: 0;
  }
}
