.navbar {
  &-utils {
    background-color: #44484b;
    box-shadow: none;
    padding: 1.8rem 0;
    color: #fff;
    height: auto;

    &-link {
      display: block;
      padding: .6rem 0;
      color: #fff;

      &:hover {
        color: #fff;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &-btn {
      margin-left: 1rem;
      border-radius: .2rem;
      transition: .3s all;
      font-size: 1.2rem;
      display: inline-block;
      cursor: pointer;

      &-favorite {
        line-height: 1;
        svg {
          height: 1.5rem;
          width: 1.5rem;
          line-height: 1;
          fill: #fff;
        }
      }
    }

    &-icon {
      svg {
        height: 1.1rem;
        width: 1.6rem;

        path {
          fill: #fff;
        }
      }
    }
  }
}
