body {
  padding-top: 57px;
  font-size: 12px;
}

.link {
  &-black {
    color: #333333;
  }
  &-accent {
    color: $brand-accent;

    &:hover {
      color: darken($brand-accent, 10%);
    }
  }
}

.content-view {
  margin-top: 2rem !important;
}
