.heading-brand {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.dl {
  margin-bottom: 0;

  h5 {
    margin-top: 1.5rem;
  }

  &-horizont {
    @include clearfix;

    dt,
    dd {
      line-height: 2rem;
      font-size: 1.2rem;
    }

    dt {
      float: left;
      width: 40%;
      text-align: left;
      @include text-overflow;
    }

    dd {
      margin-left: 0;
      float: right;
    }
  }

  &-list {
    margin-bottom: 2.5rem;
  }
}

.text {
  &-white {
    color: #fff;
  }

  &-bold {
    font-weight: bold;
  }
}

hr {
  border-color: #f5f5f5;
}

.divider-zero {
  margin: 0;
}

.vertical {
  &-middle {
    vertical-align: middle;
  }

  &-top {
    vertical-align: top;
  }
}

.list-inline {
  &-repeated {
    &:nth-child(n) {
      &:after {
        content: ", ";
      }
    }

    &:last-child {
      &:after {
        content: "";
      }
    }
  }
}
