@import '../../variables';
@import './control';

.form-control-select {
  appearance: none;
  cursor: pointer;

  &-placeholder {
   display: none;
  }

  &-ranged {
    width: 50%;
    display: inline-block;

    &:last-child {
      margin-left: -1px;
      border-left: 1px solid #ccc;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
