@import './mixins/responsive-utils';
@import './variables';

.panel {
  background-color: $brand-lighter-grey;
  border-color: $brand-white;

  @include responsive(sm) {
    border-color: $brand-light-grey;
  }

  @include responsive(md) {
    background-color: $brand-white;
  }
}

.body {
  padding: 1.5rem 2rem;
  text-align: center;

  @include responsive(sm) {
    padding: 2.5rem;
  }
}

.text {
  margin: 2rem 0;
}
