@import './variables';

/* variables */
$border-radius: .4rem;

$padding-input-xs: .5rem 1rem;
$padding-input-sm: .6rem 1.2rem;
$padding-input-lg: 1rem 1.6rem;

$padding-xs: .5rem .7rem 0;
$padding-sm: .6rem .7rem 0;
$padding-lg: 1rem .7rem 0;

/* mixin */
@mixin size($input, $label) {
  .formControl {
    padding: $input;
  }

  .label,
  .static {
    padding: $label;
  }
}
/* */

.form {
  margin: 0;
  display: block;
}

.group {
  display: block;
  margin-bottom: 1.5rem;

  &:before,
  &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }

  &.xs {
    @include size($padding-input-xs, $padding-xs);
  }

  &.sm {
    @include size($padding-input-sm, $padding-sm);
  }

  &.lg {
    @include size($padding-input-lg, $padding-lg);
  }
}

.horizontal {
  .label {
    text-align: right;
  }

  &:before,
  &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}

.label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-right: .5rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.42857143;
}

.formControl {
  display: inline-block;
  box-sizing: border-box;
  height: auto;
  padding: .6rem 1.2rem;
  font-size: 1.3rem;
  line-height: 1.42857143;
  color: $brand-black;
  background-color: $brand-white;
  background-image: none;
  border: 1px solid $brand-grey;
  border-radius: $border-radius;
  transition: border-color ease-in-out .15s,
              box-shadow ease-in-out .15s;

  &:focus,
  &:active {
    border-color: $brand-primary;
    outline: 0;
  }
}

/* checkbox && radio */

.checkbox,
.radio {
  position: relative;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.checkboxLabel,
.radioLabel {
  min-height: 2rem; /* $line-height-computed */
  padding-left: 2rem;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1.4rem;
  cursor: pointer;
}

.checkboxControl,
.radioControl {
  position: absolute;
  margin-left: -2rem;
  margin-top: .4rem;
}

/* select */

.select {
  appearance: none;
  cursor: pointer;
}

.selectPlaceholder {
  display: none;
}

.ranged {
  display: inline-block;

  &:nth-child(2) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:last-child {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}


/* kind */

.default {
  &:focus,
  &:active {
    border-color: $brand-default;
    outline: 0;
  }
}

.primary {
  &:focus,
  &:active {
    border-color: $brand-primary;
    outline: 0;
  }
}

.accent {
  &:focus,
  &:active {
    border-color: $brand-accent;
    outline: 0;
  }
}

/* static text */

.static {
  display: inline-block;
  margin: 0;
  font-size: 1.3rem;
}

/* display */

.block {
  display: block;
  width: 100%;
}

.inline {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
