@import './variables';

/* variables */
$rounded-border-radius: .6rem;

$bordered-space-between-border: .4rem;
$bordered-border: 1px solid $brand-primary;
/*  */

.img {
  border: 0;
  vertical-align: middle;
}

/* kind */
.rounded {
  border-radius: $rounded-border-radius;
}

.circle {
  border-radius: 50%;
}

.bordered {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: $bordered-space-between-border;
  line-height: 1.42857143;
  background-color: $brand-white;
  border: $bordered-border;
  transition: all .2s ease-in-out;
}
/* end */

.responsive {
  width: 100%;
}
