@import './variables';

@mixin badges-mixin($background-color, $color, $border-color) {
  background-color: $background-color;
  color: $color;
  border-color: $border-color;
};


$label-padding: .4rem .8rem .3rem .8rem;
$label-margin: 0;
$label-font-size: 1.1rem;
$label-line-height: 1;
$label-border-radius: .35rem;
$label-color: #111;

.label {
  display: inline;
  padding: $label-padding;
  margin: $label-margin;
  color: $label-color;
  font-weight: 400;
  line-height: $label-line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: $label-border-radius;
}

.default {
  @include badges-mixin($brand-default, $brand-white, transparent);
}

.primary {
  @include badges-mixin($brand-primary, $brand-white, transparent);
}

.accent {
  @include badges-mixin($brand-accent, $brand-white, transparent);
}

/*.success {
  @include badges-mixin($brand-success, $brand-white, transparent);
}

.info {
  @include badges-mixin($brand-info, $brand-white, transparent);
}

.warning {
  @include badges-mixin($brand-warning, $brand-white, transparent);
}

.danger {
  @include badges-mixin($brand-danger, $brand-white, transparent);
}*/
