@import './responsive-utils';
@import './variables';

/* variables */

$xs-padding: 1.93rem;
$sm-padding-xs: 1.5rem 2rem;
$sm-padding-md: 2.5rem;

/* end */

.panel {
  background-color: $brand-lighter-grey;
  border-color: $brand-white;

  @include responsive(sm) {
    border-color: $brand-light-grey;
  }

  @include responsive(md) {
    background-color: $brand-white;
  }
}

.xs {
  padding: $xs-padding;
}

.sm {
  padding: $sm-padding-xs;

  @include responsive(md) {
    padding: $sm-padding-md;
  }
}
