$brand-white:    #ffffff;
$brand-default:  #eeeeee;
$brand-black:    #314248;
$brand-primary:  #03a9f4;
$brand-accent:   #ff4c4e;
$brand-success:  #8BC34A;

$brand-lighter-grey: #f0f0f0;
$brand-light-grey: #f5f5f5;

$brand-grey: #d7d7d7;

$brand-dark-red:  #e42a2c;
$brand-dark-blue: #0696d6;
$brand-dark-grey: #d6d8de;

$brand-darker-grey: #ccc;


$font-size-base: 13px;

$line-height-base: 1.428571429 !default;
/*$line-height-computed: floor(($font-size-base * $line-height-base));*/
