.landing {
  &-banners {
    display: block;
    color: #111;
    min-height: 35rem;

    &:hover {
      color: #111;
    }

    @include responsive(sm) {
      min-height: 50rem;
    }

    &-slide {
      padding-top: 5rem;
      display: block;
      min-height: 53rem;

      @include responsive(sm) {
        min-height: 50rem;
      }

      &-title {
        text-transform: uppercase;
        font-weight: bold;
      }

      &-body {
        margin-top: 3rem;
        font-size: 2.6rem;
        font-weight: 200;
      }

      &-more {
        display: inline-block;
        text-transform: uppercase;
        border-bottom: 2px #111 solid;
        position: absolute;
        bottom: -150px;

        @include responsive(lg) {
          bottom: -190px;
        }
      }

      &-label {

        &-position {
          text-transform: uppercase;
          padding-top: 297px;
          margin-bottom: 0;
          font-size: 11px;
        }

        &-name {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 11px;
        }
      }

      &-image {

        img {
          height: 450px;
        }
      }
    }
  }

  &-filter {
    margin-top: -29rem;
    padding: 2.5rem 0;
    background-color: rgba(11, 11, 11, 0.7);
    color: $brand-black;
    font-size: 1.6rem;
    font-weight: 300;

    @include responsive(sm) {
      margin-top: -11rem;
    }

    &-select {
      position: relative;
      appearance: none;
      display: inline-block;
      background-color: #fff;
      border: 1px solid #eee;
      border-radius: .2rem;
      padding: 1.3rem 1.7rem;
      margin: .5rem 0;

      @include responsive(sm) {
        border-radius: 0;
      }

      &:focus {
        outline: none;
      }

      &-price {
        .landing-filter-select-middle {
          &:first-child {
            .landing-filter-select {
              border-right: 0 !important;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }
          &:last-child {
            .landing-filter-select {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }
      }

      &-first {
        .landing-filter-select {
          position: relative;
          border-top-left-radius: .2rem;
          border-bottom-left-radius: .2rem;
          @include responsive(sm) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: 0;
          }
        }
      }

      &-middle {
        .landing-filter-select {
          position: relative;
          @include responsive(sm) {
            border-right: 0;
          }
        }
      }

      &-chevron {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 2.5rem;
          right: 1rem;
          height: 1rem;
          width: 1rem;
          background: url(/assets/icons/chevron-bold-down.svg);
          background-size: 1rem 1rem;
        }
      }
    }

    &-submit {
      margin: .5rem 0;
      padding: 1.3rem 1.7rem;
      font-size: 1.6rem;
      background-color: $brand-accent;
      color: #fff;
      border-radius: .2rem;
      text-transform: uppercase;

      @include responsive(sm) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &-promo {
    background-color: #fff;
    padding: 5rem 0;

    &-title {
      line-height: 1.5;
      margin-top: 0;
      margin-bottom: 2rem;
      font-weight: 200;
      font-size: 24px;
    }

    &-text {
      font-size: 14px;
      line-height: 1.7em;
      margin-bottom: 0;
    }
  }

  &-favorites {
    padding: 5rem 0 0;

    &-text {
      margin-bottom: 3rem;
    }
  }
}
