.property {
  &-price {
    margin-bottom: 2.5rem;

    &-primary {
      margin-top: 0;
    }

    &-delta {
      &-icon {
        height: 1.5rem;
        width: 1.5rem;
        margin-left: .5rem;
      }
    }
  }

  &-media {
    margin-bottom: 2rem;

    &-photos {
      text-align: center;

      &-item {

      }
    }

    &-placeholder {
      width: 100%;
      background-color: #fff;
    }
  }

  &-view {
    display: block;
    width: 100%;
    padding: 0;

    @extend .clearfix;

    &-item {
      background-color: #fff;
      float: left;
      width: calc(100% / 3);
      text-align: center;
      color: #03A9F4;
      padding: .8rem 0;
      cursor: pointer;
      border-radius: 0;

      &-full {
        width: 100%;
      }

      &:hover,
      &:focus {
        color: #0277a8;
        text-decoration: none;
        background-color: $gray-lighter;
      }

      &.active {
        background-color: $gray-lighter;
        color: $brand-black;
      }
    }
  }

  &-description {
    &-hr {
      margin: 1rem 0;
    }
  }

  &-stats {
    &-icon {
      fill: red;
      height: 1.1rem;
      width: 1.6rem;
      margin-left: .2rem;
      margin-left: 1rem;
      vertical-align: middle;
    }
  }
}



// .statistics {
//   &-icon {
//     svg {
//       color: #777777;
//       height: 1.1rem;
//       width: 1.6rem;
//       margin-right: .2rem;
//       margin-left: 1rem;
//       vertical-align: middle;
//     }
//   }
// }


.dl {
  &-property {
    &-planning {
      // margin-bottom: 1rem;

      dt {
        margin-bottom: .5rem;
      }

      dd {
        line-height: 2rem;
      }
    }

    &-description {
      dt {
        @include responsive(sm) {
          max-width: 12rem;
        }
      }

      dd {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: right;

        @include responsive(sm) {
          text-align: left;
          float: left;
        }

        @include responsive(md) {
          width: 15rem;
        }

        @include responsive(lg) {
          width: 20rem;
        }
      }
    }
  }
}

.settlement-card {
  &-description {
    margin-bottom: 2rem;
    white-space: pre-line;

    @include responsive(sm) {
      margin-bottom: 0;
    }

    &-text {
      line-height: 2rem;
      margin: 0;
    }

    &-button {
      margin-top: 1.5rem;
      @include responsive(sm) {
        margin-top: 4rem;
      }
    }
  }

  &-list {
    margin-bottom: 1.5rem;
    padding-left: 0;

    @include responsive(sm) {
      @extend .dl-list;
    }

    &-item {
      list-style: none;
      text-transform: capitalize;
    }
  }
}
