/* BtnGroup */

$default-border-radius: 2px;

.btnGroup {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  .btn {
    position: relative;
    float: left;
    margin-left: -1px;
    border-radius: 0;
  }

  .btn:first-child {
    margin-left: 0;
    border-radius: $default-border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn:last-child {
    border-radius: $default-border-radius;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
