$brand-white:    #ffffff;
$brand-black:    #314248;
$brand-primary:  #03a9f4;

$brand-lighter-grey: #f0f0f0;
$brand-light-grey: #f5f5f5;
$brand-darker-grey: #ccc;

.navigation {
  display: inline-block;
  border-radius: 2.5rem;
}

.btn {
  color: $brand-black;
  border: none;
  background: transparent;
  padding: .8rem;

  &:hover,
  &:focus,
  &.active {
    color: $brand-white;
    background-color: $brand-primary;
    outline: none;
  }

  &.active {
    &:hover,
    &:focus {
      background: color($brand-primary blackness(10%));
    }
  }

  &.disabled {
    color: $brand-darker-grey;
    cursor: default;

    &:hover,
    &:focus {
      color: $brand-darker-grey;
      background: transparent;
    }
  }
}
