@mixin btn-mixin($color) {
  background-color: $color;
  border-color: $color;
  color: #fff;

  &:hover {
    background-color: darken($color, 10%);
    color: #fff;
  }

  &:active,
  &.active {
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
    color: #fff;
  }

  &.btn-outline {
    background-color: transparent;

    &:hover {
      background-color: $color;
    }

    &.active {
      background-color: $color;
      border-color: $color;
    }
  }
}